*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100%;
 font-family: Arial, Helvetica, sans-serif;
 font: 14px;
 color: #666;
}
.main-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1{
  margin: 0 0 20px;
  font-weight: 400;
  color: #000;
}
form{
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #f5f5f5;
  border: 1px solid #1c87c9;
  width: 30%;

}

input{
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  outline: none;
}

button{
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  color: #fff;
}
button:hover{
  cursor: pointer;
}